body{
margin:0;
font-family:Arial, sans-serif;
background:
linear-gradient(rgba(13,27,61,0.8), rgba(13,27,61,0.8)),
url('https://tse1.mm.bing.net/th/id/OIP.BhvTINCgDDCSbYBQLtIH-AHaHa?rs=1&pid=ImgDetMain&o=7&rm=3');
background-size:cover;
background-position:center;
color:white;
}

header{
background:#2c3e50;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:white;
margin:0 10px;
text-decoration:none;
}

.hero{
height:400px;
background:
linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url('https://tse1.mm.bing.net/th/id/OIP.BhvTINCgDDCSbYBQLtIH-AHaHa?rs=1&pid=ImgDetMain&o=7&rm=3');
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
color:white;
text-align:center;
}

.overlay{
background:rgba(0,0,0,0.4);
padding:20px;
border-radius:10px;
}

.section{
padding:40px;
text-align:center;
}

.about-box{
background:#e8f5e9;
padding:25px;
max-width:700px;
margin:auto;
border-left:6px solid #27ae60;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
font-size:17px;
line-height:1.6;
color:black;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:rgb(107, 105, 168);
width:250px;
padding:15px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.card img{
width:100%;
height:150px;
object-fit:cover;
border-radius:10px;
}

form{
max-width:400px;
margin:auto;
display:flex;
flex-direction:column;
gap:15px;
}

select,button{
padding:10px;
border-radius:6px;
border:1px solid #ccc;
}

button{
background:#27ae60;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#219150;
}

footer{
background:#2c3e50;
color:white;
text-align:center;
padding:15px;
}